<p>Hey there {{ user.username }},</p>
<p>
    Your password was reset. To create a new password
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>This link will be valid for 72 hours.</p>
<p>If this message does not make any sense to you, simply ignore it.</p>
<p>Sincerely,</p>
<p>The Plant Party Admins</p>