<html>
    <head>
      {% if title %}
      <title>{{ title }} - Han's Plant Party</title>
      {% else %}
      <title>Welcome to the party!</title>
      {% endif %}
    </head>
    <body>
        <div>Site:
            <a href="{{ url_for('home') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register a new user</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% if not current_user.is_anonymous %}
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('new_device') }}">Register a new device</a>
            {% endif %}
            {% if current_user.admin %}
            <a href="{{ url_for('new_device') }}">Admin Panel</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>