<div class="container">
    <div class="row align-items-end">
        <div class="col footer col-centered text-center">
            <hr>
            <image src="static/images/random/{{ range(0,70)|random }}.svg"  style="width:80px;height:80px;display: block;
  margin: 10px auto auto;"></image></center>
            <br>
            <p>Created by Kevin Kasper<br>
            Contact the admin <a href="mailto:hplantparty@gmail.com"> here.</a><br>
            © 2019 Copyright
            </p>

            <br>

        </div>
    </div>
</div>