{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link href="{{ url_for('static', filename='css/datepicker.css') }}"
      rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
    $(".dt").flatpickr({
        enableTime: true,
        dateFormat: "U",
        altInput: true,
        altFormat: "H:i K o\\n l F j, Y",
        minDate: "today",
    });
    $(".flatpickr-calendar").addClass("showTimeInput");
    </script>

    <script>
    var dates = JSON.parse('{{ events | tojson | safe}}');
    if(typeof dates[0] != "undefined")
    {
        var i, key;
        var numOfDevices = Object.keys(dates).length;
        for (i = 0; i < numOfDevices; i++) {
            for (key in dates[i]) {
                var d = new Date( key ).toUTCString().substring(0, 16);
                dates[i][d] = dates[i][key];
                delete dates[i][key];
            }
        }

        var dateStr, titleStr;
        $(".scheduler").click( function(event) {
            var index = $(this).parent().attr("id");
            const fpList = document.querySelectorAll(".dt:not(.form-control)")
            fpList.forEach(
                function(picker) {
                    fp = picker._flatpickr;
                    fp.config.onDayCreate = [
                        function (dObj, dStr, fp, dayElem) {
                            dateStr = dayElem.dateObj.toUTCString().substring(0, 16);
                            if ( dates[index][dateStr] ) {
                                dayElem.innerHTML += "<span class='event'></span>";
                                titleStr = ""
                                for (key in dates[index][dateStr]) {
                                    titleStr += dates[index][dateStr][key] + "<br>";
                                }
                                $(dayElem).tooltip({
                                    title: titleStr,
                                    placement: 'bottom',
                                    boundary: 'window',
                                    html: 'true',
                                });
                            }
                        }
                    ];
                    fp.redraw();
                }
            );
        });
    }
    </script>
{% endblock %}

{% block app_content %}
    {% if devices.__len__() < 1 %}
    <div class="row">
        <span class="col-md-2 col-centered text-center text-unselectable">
            <p>No devices were found to be attached to this account. :(</p>
        </span>
    </div>
    {% else %}
    <div class="container">
        {% for Device in devices %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/contributionchartstyle.css')}}">
        <div class="row h-50">
            <div class="col col-centered">

                <!-- Watering Event Graph !-->
                <p class="text-unselectable">{{ "[{:03d}]".format( Device.id ) }} <b>{{ Device.device_name }}</b></p>
                <div class="container">
                    {%- set graph = graphs[devices.index(Device)] %}
                    {% include "contributionchart/graph.html" -%}
                </div>
                <div class="row" style="margin-bottom:10px;">

                <div class="col-xs-4 col-xs-offset-5">
                        <button type="button" data-target="#controller_{{Device.id}}" id="button_{{ Device.id }}" class="btn btn-info" data-toggle="collapse">
                            Watering Controls
                        </button>
                    </div>
                </div>

                <!-- Watering Controls !-->
                <div class = "container watercontrol collapse {% if Device.display_open %} in {% endif %}" id = "controller_{{Device.id}}">
                    <div class="row">
                        <div class="col-6 col-xs-6 form-group">
                            <form method="post" action="{{ url_for('main.home') }}" id="{{ loop.index - 1 }}">
                                <input class="form dt scheduler" name = "scheduled_date" placeholder = "Date/Time"/>
                                <input class="form hidden" name = "device_id" value = "{{Device.id}}"/>
                                <br><br>
                                <button type="submit" name="submit_button" id="scheduledSubmit" class="form col-md-offset-5 btn btn-default" value="Schedule">Schedule</button>
                            </form>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 col-xs-6 form-group text-center">
                                <form method="post" action="{{ url_for('main.home') }}">
                                    <br><br>
                                    <input class="form hidden" name = "device_id" value = "{{Device.id}}"/>
                                    <button type="submit" name="submit_button" class="btn btn-lg btn-default" style="width: 200px;" value="Water Now">Water Now</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Watering Event List !-->
                    {% if Device.watering_events.count() > 0 %}
                    <br>
                    <table style="width:100%" class="wEventTable">
                        <tr>
                            <th>Watering date</th>
                            <th>Scheduled time</th>
                            <th>Delete scheduled watering</th>
                        </tr>
                        {% for event in Device.watering_events.order_by("timestamp") %}
                            {% if not event.completed %}
                                <tr>
                                    <td>{{ event.timestamp.strftime("%a, %d. %B ") }}</td>
                                    <td>{{ event.timestamp.strftime("%I:%M %p") }}</td>
                                    <td>
                                        <form method="post" action="{{ url_for('main.home') }}">
                                            <input class="form hidden" name = "event_id" value="{{ event.id }}"/>
                                            <button type="submit" name="delete_button" class = "close form" style="float:none;" value="event"><span aria-hidden="true">&times;</span></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <br>
                    {% endif %}
                 </div>

            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
