{% extends "base.html" %}

{% block content %}
    <h1>Register new device</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.new_device_id.label }}<br>
            {{ form.new_device_id(size=32) }}<br>
            {% for error in form.new_device_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.device_key.label }}<br>
            {{ form.device_key(size=16) }}<br>
            {% for error in form.device_key.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.device_key2.label }}<br>
            {{ form.device_key2(size=16) }}<br>
            {% for error in form.device_key2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.device_name.label }}<br>
            {{ form.device_name(size=16) }}<br>
            {% for error in form.device_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}