{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class ="text-unselectable">Hi, {{ current_user.username }}!</h1>
    <h2>Update your email</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form1) }}
        </div>
    </div>

    <div style="padding-top: 20px; margin-bottom: 40px">
    <h2>Manage Devices</h2>
        {% if devices.__len__() > 0 %}
        <table style="width:50%">
            <tr>
                <th>Device ID</th>
                <th>Device Name</th>
                <th>Device Passkey</th>
                <th>Device Owner</th>
            </tr>
            {% for device in devices %}
            <tr>

                <th><a href ="{{ url_for('edit_device', device_id=device.id) }}">{{ "[{:03d}]".format( device.id ) }}</a></th>
                <th><a href ="{{ url_for('edit_device', device_id=device.id) }}">{{ device.device_name }}</a></th>
                <th>{{ device.key }}</th>
                <th>{{ User.get_by_id(device.owner).email }}</th>

            </tr>
            {% endfor %}
        </table>
        <br>
        {% endif %}
        <br>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form2) }}
        </div>
        <br><br>
    </div>
    </div>
{% endblock %}