{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <br>
    <h1>Update your email</h1>
    <form action="" method="post">
        {{ form1.hidden_tag() }}
        <p>
            {{ form1.email.label }}<br>
            {{ form1.email(size=64) }}<br>
            {% for error in form1.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form1.email2.label }}<br>
            {{ form1.email2(size=64) }}<br>
            {% for error in form1.email2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form1.updateEmailSubmit() }}</p>
    </form>

    <h1>Add a new device to your account</h1>
    <form action="" method="post">
        {{ form2.hidden_tag() }}
        <p>
            {{ form2.device_id.label }}<br>
            {{ form2.device_id(size=64) }}<br>
            {% for error in form2.device_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form2.device_key.label }}<br>
            {{ form2.device_key(size=32) }}<br>
            {% for error in form2.device_key.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form2.addDeviceIDSubmit() }}</p>
    </form>

    <h1>Remove a device from your account</h1>
    <form action="" method="post">
        {{ form3.hidden_tag() }}
        <p>
            {{ form3.device_id.label }}<br>
            {{ form3.device_id(size=64) }}<br>
            {% for error in form3.device_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form3.removeDeviceSubmit() }}</p>
    </form>

{% endblock %}